body {
    background-color: #f5f7fa;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 0.5px;
}

.container {
    margin-top: 20px;
}
input.input-validation-error {
    border-color: #dc3545;
    background-color: #ffe6e6;
}

.text-danger {
    font-size: 0.9rem;
}