@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["AccessDeniedHeader"]</h2>
<p>@Localizer["AccessDeniedMessage"]</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">@Localizer["GoHome"]</a>
